/* Nested Tooltip */
.msu-nested-tooltip
{
	display: inline-block;
	font-weight: bold;
	color: #1A1A1A;
	text-decoration: underline;
}
.msu-nested-tooltips-within
{
	border-top: 3px solid #AC7327;
	border-left: 3px solid #AC7327;
}
.msu-nested-tooltips-locked
{
	border-right: 3px solid #AC7327;
	border-bottom: 3px solid #AC7327;
}
.msu-nested-tooltip-not-hovered
{
	-webkit-filter: brightness(50%);
}
.tooltip-progress-bar
{
	position: absolute;
	background-image: url(coui://gfx/mods/msu/icons/timeout.png);
	right: 1rem;
	top: 0.7rem;
	width: 15px;
	height: 22px;
}
.msu-tile-div
{
	position: absolute;
	width: 10rem;
	height: 10rem;
	z-index: 1;
}

/* Vanilla Font Fixes */
@font-face{
	font-family: 'FreeUniversal';
	src: url('coui://gfx/fonts/free_universal/FreeUniversal-Regular-edited.ttf') format('truetype');
}

@font-face{
	font-family: 'FreeUniversal';
	src: url('coui://gfx/fonts/free_universal/FreeUniversal-Italic-edited.ttf') format('truetype');
	font-style: italic;
}

@font-face{
	font-family: 'FreeUniversal';
	src: url('coui://gfx/mods/msu/fonts/FreeUniversal/FreeUniversal-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'FreeUniversal';
	src: url('coui://gfx/mods/msu/fonts/FreeUniversal/FreeUniversal-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: 'Arsenal';
	src: url('coui://gfx/fonts/arsenal/Arsenal-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Arsenal';
	src: url('coui://gfx/fonts/arsenal/Arsenal-Italic.ttf') format('truetype');
	font-style: italic;
}

@font-face{
	font-family: 'Arsenal';
	src: url('coui://gfx/mods/msu/fonts/Arsenal/Arsenal-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'Arsenal';
	src: url('coui://gfx/fonts/arsenal/Arsenal/Arsenal-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face{
	font-family: 'Cinzel';
	src: url('coui://data/gfx/fonts/cinzel/Cinzel-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Cinzel';
	src: url('coui://data/gfx/fonts/cinzel/Cinzel-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'Arimo';
	src: url('coui://gfx/mods/msu/fonts/Arimo/Arimo.ttf') format('truetype');
}

@font-face{
	font-family: 'Arimo';
	src: url('coui://gfx/mods/msu/fonts/Arimo/Arimo-Italic.ttf') format('truetype');
	font-style: italic;
}

@font-face{
	font-family: 'Arimo';
	src: url('coui://gfx/mods/msu/fonts/Arimo/Arimo-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'Arimo';
	src: url('coui://gfx/mods/msu/fonts/Arimo/Arimo-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

.default-font-very-small,
.default-font-small,
.default-font-normal,
.default-font-big
{
	font-family: monospace, Arimo; /* Arial isn't open licensed, Arimo is a very similar alternative that is */
}

.description-font-very-small,
.description-font-small,
.description-font-medium,
.description-font-normal,
.description-font-big,
.description-font-very-big
{
	font-family: 'FreeUniversal';
}

.text-font-very-small,
.text-font-small,
.text-font-medium,
.text-font-normal,
.text-font-big,
.text-font-very-big
{
	font-family: 'FreeUniversal';
}

.title-font-very-small,
.title-font-small,
.title-font-normal,
.title-font-big,
.title-font-very-big
{
	font-weight: bold;
	font-family: 'Cinzel', monospace;
}

/* Outline for debugging */
.line
{
	outline: 2px solid white;
}

.black
{
	outline-color: black;
}

.red
{
	outline-color: red;
}

.green
{
	outline-color: green;
}

.blue
{
	outline-color: blue;
}

/* MSU Settings */
.msu-button
{
	background-image: url("coui://gfx/mods/msu/buttons/msu_button_default.png");
	background-size: 100% 100%;
	text-shadow: 1px 1px 1px #000;
	color: #dda21f;
	box-shadow: 1px -2px 3px 2px rgba(0, 0, 0, 0.4);

	width: 23.0rem;
	min-height: 2.9rem;
	height: auto;
	position: relative;
	left: 0.5rem;
	line-height: 2.3rem;
	text-align: center;

	padding-top: 0.1rem;
	padding-bottom: 2%;
	margin-bottom: 1.0rem;
}

.msu-button:hover,
.msu-button.is-selected
{
	background-image: url("coui://gfx/mods/msu/buttons/msu_button_hovered.png");
	background-size: 100% 100%;
	color: #f0b121;
}

.msu-button.is-selected
{
	text-shadow: 1px 1px #A36426, -1px -1px #000;
}

.msu-button.is-active
{
	background-image: url("coui://gfx/mods/msu/buttons/msu_button_pressed.png");
	background-size: 100% 100%;

	padding-top: 0.2rem;
	padding-bottom: calc(2% + 0.1rem);
	margin-bottom: 0.8rem;

	color: #f0b121;
}

.msu-button[disabled]
{
	color : #a7a7a7;
}

.msu-button[disabled],
.msu-button[disabled]:hover,
.msu-button[disabled]:active
{
	background-image: url("coui://gfx/mods/msu/buttons/msu_button_inactive.png");
	background-size: 100% 100%;
}
