.msu-popup {
	display: none;
	height: 72.0rem !important;
	width: 80.0rem !important;
	position: relative;
	background-size: 100% 100%;
	background-image: url("coui://gfx/ui/skin/dialog_background_03.png");
	background-repeat: no-repeat;
	z-index: 100 !important;
}

.msu-popup-small
{
	display: none;
	position: absolute;
	top: 5%;
	right: 1rem;
	z-index: 100 !important;
}

.msu-popup-small-update-button
{
	height: 4rem;
	width: 4rem;
	background-image: url("coui://gfx/mods/msu/buttons/mod_update.png");
	background-size: 100% 100%;
	position:relative;
	left: 3rem;
}
.msu-popup-small-update-info
{
	width: 10rem;
	font-size: 1.5rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	word-wrap: break-word;
}

.msu-popup .header {
	height: 10rem;
	width: 100%;
	margin: 1rem 0 1rem 0;
	position: relative;
	vertical-align: middle;
}

.msu-popup .header .title {
	margin-top: 2rem !important;
}

.msu-popup .content-container {
	top: 11.8rem;
	height: calc(100% - 11.8rem - 6.3rem);
	width: 90%;
	margin: 0 5% 0 5%;
	color: white;
	font-family: monospace, arial;
	font-size: 20;
	background-color: rgba(0, 0, 0, 1.0);
	position: relative;
}

.msu-popup .footer {
	position: relative;
	width: 100%;
}

.msu-popup .ok-button {
	left: calc(50% - 17.5rem / 2);
	height: 4.3rem;
	width: 17.5rem;
	position: relative;
}

.msu-mod-info-container
{
	width: 100%;
	overflow: hidden;
	position: relative;
	color: #dda21f;
	padding-top: 1.5rem;

	background-image: url("coui://gfx/ui/skin/list_item_03.png");
	background-size: 100% 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.msu-mod-info-container > div
{
	width: 90%;
	height: auto;
	overflow:auto;
	word-wrap: break-word;
	margin-bottom: 1.5rem;
}

.msu-mod-info-container .msu-mod-version-row .msu-mod-version-info
{
	float: left;
}

.msu-mod-info-container .l-github-button,
.msu-mod-info-container .l-nexusmods-button
{
	float: right;
	width: 3.2rem;
	height: 3.2rem;
}

.msu-mod-info-container .ui-control.button,
.msu-mod-info-container .ui-control.button[disabled]
{
	background-color: rgba(0, 0, 0, 0.0);
}
