.flexbox
{
	display: flex;
}

.msu-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	
	overflow: hidden;
}

.msu-screen > img
{
    position: absolute;
    z-index: 1;
}

.out
{
	border-style:solid;
    border-color:#eee;
    border-width:1px;
}

.msu-screen .l-dialog-container
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 102.4rem;
    height: 76.8rem;
    position: absolute;
    margin: auto;
    z-index: 2;
}


.msu-screen .ui-control.dialog > .content
{
    top: 12.0rem;
    left: 0;
    right: 0;
    bottom: 6.0rem;
    position: absolute;
    margin: auto;
    overflow: hidden;
}

.msu-screen .dialog .content .l-page-container
{
	left: 26rem;
	width: 75.6rem;
	height: 98%;
	position: absolute;
}

.msu-screen .dialog .content .l-page-container .boolean-container
{
	height: 2.2rem;
/*	position: absolute;
*/	float: left;
	clear: left;
	position: relative;
	margin-top: 0.7rem;
	margin-left  : 1.0rem;
	margin-right: 0.5rem;
	margin-bottom: 0.7rem;
}

.msu-screen .dialog .content .l-page-container .boolean-container > label
{
	top: 0;
	bottom: 0;
	height: 2.0rem;
	position: absolute;
	margin: auto;
	margin-left: 1.4rem;

	white-space: nowrap;
	line-height: 2.0rem;
}

.msu-screen .dialog .content .l-list-container
{
	width: 25rem;
	height: 98%;
    position: absolute;
}

.msu-screen .dialog .content .l-list-container .scroll-container
{
	height: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.msu-screen .dialog .content .l-list-container .scroll-container .l-row
{
	top: 0;
	left: 0;
	bottom: 0;
    width: 100%;
    height: 4.3rem;
    line-height: 3.0rem;
}

.msu-screen .dialog .content .l-list-container .scroll-container .l-row .l-button
{
    width: 100%;
    height: 100%;
}


.msu-screen .dialog .footer .l-button-bar
{
    top: 0.0rem;
    left: 2.0rem;
    right: 2.0rem;
    bottom: 0;
    height: 4.3rem;
    position: absolute;
    margin: auto;
}